/*
 * Main CSS rules
 */
 
html, body {
    margin-top: 20px;
    font-family: 'Lato';
    font-size: 14px;
}

.header {
    margin-bottom: 100px;
}

.login-text {
    display: inline;
    font-size: 1.0em;
}

.footer {
	margin-top: 100px;
}

.logo {
	
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

/* Level this with the logo */
.cart {
	padding-top: 20px;
}

.home-landing {
}

.home-heading {
	fomt-family: Lato;
	font-weight: 300;
}

.home-search-bar {
	padding-left: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.search-input {
	height: 2em;
	font-size: 2em;
	width: 100%;
}

.contact > p {
	font-size: 1.45em;
}

.item-quantity {
	width: 50px;
	margin-left: 10px;
}

.contact {
	background: white;
	padding: 10px;
	height: 450px; /* Make sure this matches the map */
}

.item {
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	box-shadow: 5px 5px 1px #888888;
	height: 380px;
}

.icon-previous {
	font-size: 60px;
	display: inline-block;
	background: white;
	border-radius: 20px;
}

