/*
 * Main CSS rules
 */
 
html, body {
    margin-top: 20px;
    font-family: 'Lato';
    font-size: 14px;
}

.header {
    margin-bottom: 100px;
}

.login-text {
    display: inline;
    font-size: 1.0em;
}

.footer {
	margin-top: 100px;
}

.logo {
	
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

/* Level this with the logo */
.cart {
	padding-top: 20px;
}

.home-landing {
}

.home-heading {
	fomt-family: Lato;
	font-weight: 300;
}

.home-search-bar {
	padding-left: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.search-input {
	height: 2em;
	font-size: 2em;
	width: 100%;
	padding-left: 60px;
}

.contact > p {
	font-size: 1.45em;
}

.item-quantity {
	width: 30px;
	margin: 15px 5px;
	display: inline-block;
	text-align: center;
}

.contact {
	background: white;
	padding: 10px;
	height: 450px /* Make sure this matches the map */
}

.item {
	border-radius: 5px;
	margin: 10px;
	padding: 10px !important;
	height: 335px;
}

.icon-previous {
	font-size: 60px;
	display: inline-block;
	background: white;
	border-radius: 20px;
}

.checkout-pricing {
	font-size: 1.5em;
}

.item p {
	margin:0;
	padding:0;
}

.item .item-name {
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}

.efoods-alert
{
    position: fixed;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	width: 500px;
  	left: 0;
  	right: 0;
  	z-index: 9999;
}
.efoods-alert:hover {
	cursor: pointer;
}
.efoods-alert.alert-show {
	 animation: fadein 0.3s;
    -moz-animation: fadein 0.3s; /* Firefox */
    -webkit-animation: fadein 0.3s; /* Safari and Chrome */
    -o-animation: fadein 0.3s; /* Opera */
}

.efoods-alert.alert-hide {
	 animation: fadeout 0.3s;
    -moz-animation: fadeout 0.3s; /* Firefox */
    -webkit-animation: fadeout 0.3s; /* Safari and Chrome */
    -o-animation: fadeout 0.3s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
         opacity:0;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity:1;
    }
    to {
         opacity:0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        opacity:1;
    }
    to {
 		opacity:0; 
    }
}